In [16]:
from all_functions import *
from streamfuels.datasets import DatasetLoader
from neuralforecast import NeuralForecast
from neuralforecast.models import NHITS, NBEATS, MLP
from metaforecast.ensembles import ADE
from sklearn.metrics import mean_absolute_percentage_error as mape
import warnings
import os

warnings.filterwarnings("ignore")

# python -m jupyter nbconvert --to notebook --execute create_rf_dataframe_fixed.ipynb --stdout

In [17]:
#normal
df_rf = pd.read_csv('./timeseries/mestrado/resultados/rf/normal/ANP_MONTHLY.csv', sep=";")
# df_rf = df_rf[df_rf['final_test'] != '2024-11-30']

df_catboost = pd.read_csv('./timeseries/mestrado/resultados/catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_catboost = df_catboost[df_catboost['final_test'] != '2024-11-30']

df_svr = pd.read_csv('./timeseries/mestrado/resultados/svr/normal/ANP_MONTHLY.csv', sep=";")
# df_svr = df_svr[df_svr['final_test'] != '2024-11-30']

#estatisticos
df_ets = pd.read_csv('./timeseries/mestrado/resultados/ETS/normal/ANP_MONTHLY.csv', sep=";")
# df_ets = df_ets[df_ets['final_test'] != '2024-11-30']

df_arima = pd.read_csv('./timeseries/mestrado/resultados/ARIMA/normal/ANP_MONTHLY.csv', sep=";")
# df_arima = df_arima[df_arima['final_test'] != '2024-11-30']

df_theta = pd.read_csv('./timeseries/mestrado/resultados/THETA/normal/ANP_MONTHLY.csv', sep=";")
# df_theta = df_theta[df_theta['final_test'] != '2024-11-30']

#FOURIER
df_ft_rf = pd.read_csv('./timeseries/mestrado/resultados/ONLY_FT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_rf = df_ft_rf[df_ft_rf['final_test'] != '2024-11-30']

df_ft_catboost = pd.read_csv('./timeseries/mestrado/resultados/ONLY_FT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_catboost = df_ft_catboost[df_ft_catboost['final_test'] != '2024-11-30']

df_ft_svr = pd.read_csv('./timeseries/mestrado/resultados/ONLY_FT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_svr = df_ft_svr[df_ft_svr['final_test'] != '2024-11-30']

#CWT
df_cwt_rf = pd.read_csv('./timeseries/mestrado/resultados/ONLY_CWT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_rf = df_cwt_rf[df_cwt_rf['final_test'] != '2024-11-30']

df_cwt_catboost = pd.read_csv('./timeseries/mestrado/resultados/ONLY_CWT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_catboost = df_cwt_catboost[df_cwt_catboost['final_test'] != '2024-11-30']

df_cwt_svr = pd.read_csv('./timeseries/mestrado/resultados/ONLY_CWT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_svr = df_cwt_svr[df_cwt_svr['final_test'] != '2024-11-30']

#DWT
df_dwt_rf = pd.read_csv('./timeseries/mestrado/resultados/ONLY_DWT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_rf = df_dwt_rf[df_dwt_rf['final_test'] != '2024-11-30']

df_dwt_catboost = pd.read_csv('./timeseries/mestrado/resultados/ONLY_DWT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_catboost = df_dwt_catboost[df_dwt_catboost['final_test'] != '2024-11-30']

df_dwt_svr = pd.read_csv('./timeseries/mestrado/resultados/ONLY_DWT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_svr = df_dwt_svr[df_dwt_svr['final_test'] != '2024-11-30']


#FT + Original
df_ft_rf_original = pd.read_csv('./timeseries/mestrado/resultados/FT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_rf_original = df_ft_rf_original[df_ft_rf_original['final_test'] != '2024-11-30']

df_ft_catboost_original = pd.read_csv('./timeseries/mestrado/resultados/FT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_catboost_original = df_ft_catboost_original[df_ft_catboost_original['final_test'] != '2024-11-30']

df_ft_svr_original = pd.read_csv('./timeseries/mestrado/resultados/FT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_ft_svr_original = df_ft_svr_original[df_ft_svr_original['final_test'] != '2024-11-30']

#CWT + Original
df_cwt_rf_original = pd.read_csv('./timeseries/mestrado/resultados/CWT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_rf_original = df_cwt_rf_original[df_cwt_rf_original['final_test'] != '2024-11-30']

df_cwt_catboost_original = pd.read_csv('./timeseries/mestrado/resultados/CWT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_catboost_original = df_cwt_catboost_original[df_cwt_catboost_original['final_test'] != '2024-11-30']

df_cwt_svr_original = pd.read_csv('./timeseries/mestrado/resultados/CWT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_cwt_svr_original = df_cwt_svr_original[df_cwt_svr_original['final_test'] != '2024-11-30']

#DWT + Original
df_dwt_rf_original = pd.read_csv('./timeseries/mestrado/resultados/DWT_rf/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_rf_original = df_dwt_rf_original[df_dwt_rf_original['final_test'] != '2024-11-30']

df_dwt_catboost_original = pd.read_csv('./timeseries/mestrado/resultados/DWT_catboost/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_catboost_original = df_dwt_catboost_original[df_dwt_catboost_original['final_test'] != '2024-11-30']

df_dwt_svr_original = pd.read_csv('./timeseries/mestrado/resultados/DWT_svr/normal/ANP_MONTHLY.csv', sep=";")
# df_dwt_svr_original = df_dwt_svr_original[df_dwt_svr_original['final_test'] != '2024-11-30']    

#naive
df_naive_seasonal = pd.read_csv('./timeseries/mestrado/resultados/NaiveSeasonal/normal/ANP_MONTHLY.csv', sep=";")
# df_naive_seasonal = df_naive_seasonal[df_naive_seasonal['final_test'] != '2024-11-30']

df_naive_ma = pd.read_csv('./timeseries/mestrado/resultados/NaiveMovingAverage/normal/ANP_MONTHLY.csv', sep=";")
# df_naive_ma = df_naive_ma[df_naive_ma['final_test'] != '2024-11-30']

all_dfs = {
   # 'RF':df_rf, 'Catboost':df_catboost, 'SVR':df_svr, 
         #   'ETS':df_ets, 'ARIMA':df_arima, 'THETA':df_theta, 
           'FT_RF':df_ft_rf, 
           'FT_CATBOOST':df_ft_catboost, 
         #   'FT_SVR':df_ft_svr,
        #    'CWT_RF':df_cwt_rf, 'CWT_CATBOOST':df_cwt_catboost, 'CWT_SVR':df_cwt_svr, 
        #    'DWT_RF':df_dwt_rf, 'DWT_CATBOOST':df_dwt_catboost, 'DWT_SVR':df_dwt_svr,
        #    'FT_RF_ORIGINAL':df_ft_rf_original, 'FT_CATBOOST_ORIGINAL':df_ft_catboost_original, 'FT_SVR_ORIGINAL':df_ft_svr_original,
        #    'CWT_RF_ORIGINAL':df_cwt_rf_original, 'CWT_CATBOOST_ORIGINAL':df_cwt_catboost_original, 'CWT_SVR_ORIGINAL':df_cwt_svr_original,
        #    'DWT_RF_ORIGINAL':df_dwt_rf_original, 'DWT_CATBOOST_ORIGINAL':df_dwt_catboost_original, 'DWT_SVR_ORIGINAL':df_dwt_svr_original,
         #   'NAIVE_SEASONAL':df_naive_seasonal, 'NAIVE_MA':df_naive_ma
           }

In [ ]:
import re
import pandas as pd

def calc_errors(y_panel_df, y_insample_df, seasonality, benchmark_model='ETS'):
    """Calculates OWA of each time series
    usign benchmark_model as benchmark.

    Parameters
    ----------
    y_panel_df: pandas df
        Pandas DataFrame with columns ['unique_id', 'ds', 'y']
    y_insample_df: pandas df
        Pandas DataFrame with columns ['unique_id', 'ds', 'y']
        Train set.
    seasonality: int
        Frequency of the time seires.
    benchmark_model: str
        Column name of the benchmark model.

    Returns
    -------
    Pandas DataFrame
        OWA errors for each time series and each model.
    """

    assert benchmark_model in y_panel_df.columns

    y_panel = y_panel_df[['unique_id', 'ds', 'y']]
    y_hat_panel_fun = lambda model_name: y_panel_df[['unique_id', 'ds', model_name]].rename(columns={model_name: 'y_hat'})

    model_names = set(y_panel_df.columns) - set(y_panel.columns)

    errors_smape = y_panel[['unique_id']].drop_duplicates().reset_index(drop=True)
    errors_mase = errors_smape.copy()

    for model_name in model_names:
        errors_smape[model_name] = None
        errors_mase[model_name] = None
        y_hat_panel = y_hat_panel_fun(model_name)

        errors_smape[model_name] = evaluate_panel(y_panel, y_hat_panel, smape)
        errors_mase[model_name] = evaluate_panel(y_panel, y_hat_panel, mase, y_insample_df, seasonality)

    mean_smape_benchmark = errors_smape[benchmark_model].mean()
    mean_mase_benchmark = errors_mase[benchmark_model].mean()

    errors_smape = errors_smape.drop(columns=benchmark_model).set_index('unique_id')
    errors_mase = errors_mase.drop(columns=benchmark_model).set_index('unique_id')

    errors = errors_smape/mean_mase_benchmark + errors_mase/mean_smape_benchmark
    errors = 0.5*errors
    errors = errors

    return errors


def extract_values(list_str):
    if isinstance(list_str, str):
        # Remove brackets and split by commas
        # This regex matches all numbers (including those with decimal points)
        numbers = re.findall(r'[-+]?\d*\.?\d+(?:[eE][-+]?\d+)?', list_str)
        return [float(num) for num in numbers]
    return []

def date_to_number(date_str):
    # Convertendo a string para datetime
    date = datetime.strptime(date_str, '%Y-%m-%d')
    # Calculando a diferença em anos desde 1993-12-31
    base_date = datetime(1993, 12, 31)
    years_diff = (date.year - base_date.year)
    # Calculando o número baseado no ano
    return years_diff 


# Create an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

df_predictions = pd.DataFrame()
all_dates = set()
for _, row in all_dfs['FT_CATBOOST'].iterrows():
    all_dates.add(row['start_test'])

# Ordenar as datas em ordem crescente e criar o mapeamento
date_to_num = {}
dates_sorted = sorted(all_dates)  # Ordena de forma crescente
for i, date in enumerate(dates_sorted, 0):  # Começa do 1
    date_to_num[date] = i

for name, df_model in all_dfs.items():
    # For each model, create a DataFrame with unique_id, ds, and predictions
    model_data = []
    model_data_test = []
    
    for index, row in df_model.iterrows():
        
        if row['final_test'] == '2024-11-30':
            #dataframe de test
            # row_test = row[row['final_test'] == '2024-11-30']
            start_ds_test = pd.Timestamp(row['start_test'])
            end_ds_test = pd.Timestamp(row['final_test'])
            date_range_test = pd.date_range(start=start_ds_test, end=end_ds_test, freq='M')
            pred_values_test = extract_values(row['predictions'])
            unique_id_test = row['dataset_index']
            
            start_date_str = row['start_test']
          
            for i in range(len(date_range_test)):
                entry = {
                    'unique_id': f"{unique_id_test}",
                    # 'serie_id': f"S{unique_id_test}",
                    # 'unique_id': f"T{date_to_num[start_date_str]}", 
                    'ds': date_range_test[i]
                }
                    
                if i < len(pred_values_test):
                    entry[name] = pred_values_test[i]
                    
                model_data_test.append(entry)
            
        else:    
            #dataframe de treino
            # row = row[row['final_test'] != '2024-11-30']
            start_ds = pd.Timestamp(row['start_test'])
            end_ds = pd.Timestamp(row['final_test'])
            date_range = pd.date_range(start=start_ds, end=end_ds, freq='M')
            y_values = extract_values(row['test'])
            pred_values = extract_values(row['predictions'])
            unique_id = row['dataset_index']
            start_date_str = row['start_test']

            for i in range(len(date_range)):
                # Only add values that exist in the arrays
                entry = {
                    # 'serie_id': f"S{unique_id}",
                    'unique_id': f"{unique_id}",
                    # 'unique_id': f"T{date_to_num[start_date_str]}", 
                    'ds': date_range[i]
                }
                
                # Add y value if available
                if i < len(y_values):
                    entry['y'] = y_values[i]
                    
                # Add prediction value if available
                if i < len(pred_values):
                    entry[name] = pred_values[i]
                    
                model_data.append(entry)
            

    model_df_test = pd.DataFrame(model_data_test)
            
    if df_predictions.empty:
        df_predictions = model_df_test
    else:
        merge_columns = ['unique_id', 'ds']
        if name in model_df_test.columns:
            merge_columns.append(name)
            
        df_predictions = pd.merge(
            df_predictions, 
            model_df_test[merge_columns], 
            on=['unique_id', 'ds'], 
            how='outer'
        )
        
        
    # Convert to DataFrame
    model_df = pd.DataFrame(model_data)
            
    if combined_df.empty:
        # For the first model, initialize the combined DataFrame
        combined_df = model_df
    else:
        # For subsequent models, merge with the existing DataFrame
        # Use outer join to keep all rows from both DataFrames
        merge_columns = ['unique_id', 'ds']
        if name in model_df.columns:
            merge_columns.append(name)
            
        combined_df = pd.merge(
            combined_df, 
            model_df[merge_columns], 
            on=['unique_id', 'ds'], 
            how='outer'
        )
# Sort the final DataFrame
combined_df = combined_df.sort_values(by=['unique_id', 'ds'])
df_predictions = df_predictions.sort_values(by=['unique_id', 'ds'])
df_predictions = df_predictions.set_index('unique_id')
df_predictions = df_predictions.reset_index()

In [19]:
df_predictions[df_predictions['unique_id'] == '0']

   unique_id         ds        FT_RF  FT_CATBOOST
0          0 2023-12-31  3841.781222  3801.020869
1          0 2024-01-31  3453.056559  3365.371782
2          0 2024-02-29  3732.144738  3995.492116
3          0 2024-03-31  4047.286764  4200.032555
4          0 2024-04-30  3586.662485  4420.354148
5          0 2024-05-31  3283.298039  2988.449150
6          0 2024-06-30  3091.923411  3445.189146
7          0 2024-07-31  3618.783522  3537.889124
8          0 2024-08-31  3485.080155  3964.343299
9          0 2024-09-30  3767.299453  3883.191105
10         0 2024-10-31  3741.254479  3685.598866
11         0 2024-11-30  3862.776600  4451.520274

In [20]:
combined_df[combined_df['unique_id'] == '0']

      unique_id         ds         y        FT_RF  FT_CATBOOST
11532         0 1993-12-31  6395.210  5030.733017  5110.994711
11533         0 1994-01-31  5404.700  4983.428083  5079.490550
11534         0 1994-02-28  5075.313  5053.121846  5068.426447
11535         0 1994-03-31  5584.710  5061.549357  5092.261053
11536         0 1994-04-30  4851.400  4932.246386  5048.905764
...         ...        ...       ...          ...          ...
379           0 2023-07-31  2822.500  5511.256406  3091.247290
380           0 2023-08-31  4040.000  3058.784137  3994.005308
381           0 2023-09-30  4359.530  5096.992738  3934.854764
382           0 2023-10-31  4424.030  4251.046159  3811.534442
383           0 2023-11-30  4262.530  6426.548201  5010.353486

[360 rows x 5 columns]

In [21]:
unique_ids = df_predictions['unique_id'].unique()
exp_name = f"ADE_unico"
path_experiments = f'./timeseries/mestrado/resultados/{exp_name}/'
path_csv = f"{path_experiments}/ANP_MONTHLY.csv"
os.makedirs(path_experiments, exist_ok=True)

cols_serie = ["dataset_index", "horizon" ,"regressor", "mape", "pocid", "smape", "rmse", "msmape", "mae", "test", "predictions", 'start_test', 'final_test']
horizon = 12
for df_index in unique_ids:
	df_train_cv = combined_df[combined_df['unique_id'] == df_index]
	# df_train_cv = combined_df
	ensemble_predictions = df_predictions[df_predictions['unique_id'] == df_index]
	main_df = df_train_cv[['unique_id','ds', 'y']]

	from metaforecast.ensembles import ADE
	ensemble = ADE(freq='ME', meta_lags=list(range(1,horizon+1)), trim_ratio=1)
	ensemble.fit(df_train_cv)
	ade_fcst = ensemble.predict(ensemble_predictions, train=main_df, h=horizon)
	filt_test = df_svr[df_svr['dataset_index'] == int(df_index)]
	filt_test = filt_test[filt_test['final_test'] == '2024-11-30']
	test = extract_values(filt_test['predictions'].tolist()[0])
	
	# print(ensemble.weights)
	# print(ensemble._weights_by_uid(ensemble_predictions, 12))
	
	preds_real = ade_fcst.tolist()
	test = np.array(test)
	preds_real_array = np.array(preds_real)
	preds_real_reshaped = preds_real_array.reshape(1, -1)
	test_reshaped = test.reshape(1, -1)
	smape_result = calculate_smape(preds_real_reshaped, test_reshaped)
	rmse_result = calculate_rmse(preds_real_reshaped, test_reshaped)
	msmape_result = calculate_msmape(preds_real_reshaped, test_reshaped)
	mae_result = calculate_mae(preds_real_reshaped, test_reshaped)
	mape_result = mape(test, preds_real_array)
	pocid_result = pocid(test, preds_real_array)
	
	result = {
			'dataset_index': df_index,
			'horizon': horizon,
			'regressor': exp_name,
			'mape': mape_result,
			'pocid': pocid_result,
			'smape': smape_result,
			'rmse': rmse_result,
			'msmape': msmape_result,
			'mae': mae_result,
			'test': [test.tolist()],
			'predictions': [ade_fcst.tolist()],
			'start_test': filt_test['start_test'].iloc[0],
			'final_test': filt_test['final_test'].iloc[0]
		}
 
	if not os.path.exists(path_csv):
		pd.DataFrame(columns=cols_serie).to_csv(path_csv, sep=';', index=False)

	df_new = pd.DataFrame(result)
	df_new.to_csv(path_csv, sep=';', mode='a', header=False, index=False)